form input, form textarea{
	vertical-align:top;
	margin:10px 10px 0;
}textarea{
	height:150px;
	width:400px;
}input.readonly{
	background-color:#ccc;
	color: #868686;
}.dataArea{
	 background-color: #F1F1F1;
    border-radius: 0 0 20px 20px;
    margin-top: -20px;
    padding: 30px;
    position: relative;
    width: 1325px;
    z-index: 2;
}.menu{
	background-color: #009DDC;
    border-radius: 20px 20px 0 0;
    height: 70px;
    margin-top: 10px;
    padding: 30px 10px 0;
    position: relative;
    width: 1365px;
    z-index: 1;
}.menu a{
	color: #FFFFFF;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
}.menu a:hover{
	text-decoration:underline;
}.container{
	width:1400px;
	margin:auto;
}.leftData{
	width:50%;
	float:left;
	display:inline-block;
}.rightData{
	width:50%;
	float:right;
	display:inline-block;
}.clear{
	clear:both;
}.leftSide, .leadLeft{
	display:inline-block;
	float:left;
}.rightSide, .leadRight{
	display:inline-block;
}.leadLeft{
	width:700px;
	text-align:left;
	padding-left:50px;
}