.dataArea{
	background-color: #F1F1F1;
    border-radius: 0 0 20px 20px;
    margin-top: -20px;
    padding: 30px;
    position: relative;
    width: 1325px;
    z-index: 2;
}.menu{
	background-color: #009DDC;
    border-radius: 20px 20px 0 0;
    height: 70px;
    margin-top: 10px;
    padding: 30px 10px 0;
    position: relative;
    width: 1365px;
    z-index: 1;
}.container{
	width:1400px;
	margin:auto;
}.menu a{
	color: #FFFFFF;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
}.menu a:hover{
	text-decoration:underline;
}
