<form enctype="multipart/form-data" action="add.php" method="POST"> 
 Name: <input type="text" name="name"><br> 
 Photo: <input type="file" name="photo"><br> 
 <input type="submit" value="Add"> 
 </form>
 
 <?php 
 // Connects to your Database 
 mysql_connect("localhost", "root", "") or die(mysql_error()) ; 
 mysql_select_db("oop_test") or die(mysql_error()) ; 
 
 //Retrieves data from MySQL 
 $data = mysql_query("SELECT * FROM departments WHERE Name = DevDept ") or die(mysql_error()); 
//Puts it into an array 
while($info = mysql_fetch_array( $data )) { 
//Outputs the image and other data 
Echo "<img src='http://127.0.0.1/oop/test/images/".$info['Pic'] ."'> <br>"; 
Echo "<b>Name:</b> ".$info['Name'] . "<br> "; 
} 

?>